{% extends 'blog/base.html' %}
{% block content %}
   <p class="lead">{{title}} Page</p><hr>
   {% comment %} <div class="jumbotron">
      <h1 class="display-4">Page is under construction</h1>
      <p class="lead">---------</p>
      <hr class="my-2">
      <p>More info</p>
      <p class="lead">
         <a class="btn btn-primary btn-sm" href="{% url 'blog-home' %}" role="button">back to Home Page</a>
      </p>
   </div> {% endcomment %}
   <table class="table table-striped table-hover table-inverse table-sm">
      <thead class="thead-inverse">
         <tr>
         <th>ID</th>
         <th>Avatar</th>
         <th>First name</th>
         <th>Last name</th>
         <th>Email</th>
         </tr>
         </thead>
         <tbody>
         {% for posts in data.data %}
         <tr>
            <td scope="row">{{posts.id}}</td>
            <td><img src="{{posts.avatar}}" class="img-fluid rounded-circle" alt="img" width="40"> </td>
            <td>{{posts.first_name | capfirst}}</td>
            <td>{{posts.last_name}}</td>
            <td>{{posts.email}}</td>
         </tr>
            {% endfor %}
         </tbody>
   </table>

{% endblock content%}